[Unit]
# TODO replace unit.service with this file if your project depends on cockroachdb
# ...otherwise ignore this unit file.
# TODO SEEDMS change description to reflect the micro-service
Description=Micro-Service Seed
After=cockroach.service
Requires=cockroach.service

[Install]
WantedBy=multi-user.target

[Service]
# TODO SEEDMS change seedms to the NAME used in systemd-install.sh
ExecStart=/usr/local/bin/seedms
# TODO SEEDMS change seedms to the NAME used in systemd-install.sh
SyslogIdentifier=seedms
Restart=always
